[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
ipython = "*"
spacy = "*"
wordcloud = "*"
levenshtein = "*"
wheel = "*"
setuptools = "*"
requests = "*"
beautifulsoup4 = "*"
nltk = "*"
unidecode = "*"
num2words = "*"
autocorrect = "*"
gensim = "*"
scikit-learn = "*"
pyldavis = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
